[submodule "vimfiles/vundle.git"]
	path = vimfiles/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "/Users/YUSUKE/.dotfiles/oh-my-zsh"]
	path = /Users/YUSUKE/.dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
